spring:
  application:
    name: uptimebot
  main:
    web-application-type: servlet

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        order_inserts: true
        order_updates: true
        jdbc:
          batch_size: 50
          batch_versioned_data: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        hikari:
          maximumPoolSize: ${HIKARI_MAXIMUM_POOL_SIZE:5}
          minimumIdle: ${HIKARI_MINIMUM_IDLE:2}
  liquibase:
    change-log: 'classpath:changelog/db.changelog-main.xml'

  datasource:
    url: ${JDBC_URL:jdbc:postgresql://localhost:5432/uptime_bot}
    username: ${DB_USERNAME:uptime_bot}
    password: ${DB_PASSWORD:uptime_bot}

  quartz:
    properties:
      org.quartz.jobStore.driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
      org.quartz.scheduler.instanceName: QuartzScheduler
      org.quartz.scheduler.instanceId: AUTO
      org.quartz.scheduler.batchTriggerAcquisitionMaxCount: ${QUARTZ_THREAD_COUNT:25}
      org.quartz.scheduler.batchTriggerAcquisitionFireAheadTimeWindow: 7000
      org.quartz.threadPool.threadCount: ${QUARTZ_THREAD_COUNT:25}
      org.quartz.jobStore.isClustered: true

    job-store-type: jdbc
    jdbc:
      initialize-schema: NEVER
